@model IEnumerable<FoodOnTheGo.Models.Orders>

@{
    ViewData["Title"] = "ViewPastOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/CustomTable.css" />

<table class="table">
    <tr>
        <th>
            Status
        </th>
        <th>
            Total Amount
        </th>
        <th>
            Order At
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Status</td>
                <td>@item.TotalAmount</td>
                <td>@item.OrderedAT.ToString("dd/MM/yyyy")</td>
                <td>
                    <form asp-action="ViewPastOrderItems" method="post">
                        <input type="hidden" name="id" value="@item.ID"/>
                        <input type="submit" value="Order Item Details" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>